<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>All Posts</title>
  <link rel="stylesheet" href="static/pico.css">
</head>
<body>
  <main class="container">
    <header>
        <nav>
          <ul>
            <li> <h1 style="margin: 0;">Qu's Blog?</h1></li>
          </ul>
          <ul>
            <li><a href="../../">Home</a></li>
            <li><a href="../posts.html">Posts</a></li>
            <li><a href="../posts.html">Works</a></li>
          </ul>
        </nav>
        <p class="subtitle">Essays, explorations, and experiments — no scripts attached.</p>
      </header>
    <h1>All Posts</h1>
    <ul>
      {{ post_links }}
    </ul>
  </main>
</body>
</html>
